@import url(https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Noto+Sans+SC:wght@100..900&family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&display=swap);

* {
    margin: 0;
    padding: 0;
}
.warma-s{
    display: none!important;
}
img.warma-s{
    margin-top: 20px!important;
    border-radius: 20px;
}
body.warma .warma-s{
    display: block!important;
}
.spider{
    position: fixed;
    top: -50px;
    right: 0;
    width: 100px;
    height:100px;
}
.warma-back-top{
    position: absolute;
    bottom: 0;
    right: -20px;
    width:200px;
}
.warma-back-top img{
    width: 100%;
    animation: wbp 2s ease-in-out infinite;
}

li {
    list-style: none;
}
::-webkit-scrollbar {
    background-color: transparent;
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #ddd;
    border-radius: 20px;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #aaa;
}
body {
    font-family: 'Noto Sans SC', 'Noto Sans JP', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    overflow: hidden;
    background-image: linear-gradient(to bottom, #f5f5f5, #eee);
}

.container {
    width: calc(100% - 60px);
    height: calc(100% - 60px);
    margin: 30px;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: #aaa 0 0 5px;
}

.container .leftbar {
    width: 350px;
    height: calc(100% - 40px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #ccc;
    position: absolute;
    top: 0px;
    left: 0px;
    margin: 20px;
}

.container .leftbar .avatar {
    width: 180px;
    height: 180px;
    margin: 10px auto;
    border-radius: 50%;
    box-shadow: #ccc 0 0 10px;
}

.container .leftbar .avatar img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: #eee solid 2px;
    box-sizing: border-box;
}

.container .leftbar>.name {
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
    text-align: center;
    color: #000;
}

.container .leftbar .says {
    font-size: 14px;
    margin-top: 10px;
    text-align: center;
    height: 40px;
    line-height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .leftbar .socials {
    width: calc(100% - 80px);
    margin: 10px auto;
    height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container .leftbar .socials .item {
    width: 36px;
    height: 36px;
    border-radius: 5px;
}

.container .leftbar .socials .item img {
    width: 22px;
    height: 22px;
    margin: 7px;
}

.container .leftbar .socials .item:hover {
    background-color: #ddd;
}

.musicplayer {
    width: 100%;
}

.musicplayer .qp {
    width: 100%;
    box-shadow: none;
    color: #000;
}

.musicplayer .qp .music-list {
    top: auto;
    bottom: 100px;
    border-radius: 10px;
}

.qplayer.playing .glc .controls {
    display: none;
}

.qplayer.playing .glc .songdata,
.qplayer.playing .glc .lrc {
    width: 100%;
    height: 100%;
}

.qplayer .glc:hover .controls {
    display: flex;
}

.qplayer .glc:hover .songdata,
.qplayer .glc:hover .lrc {
    width: calc(100% - 90px);
}

.starscover {
    position: fixed;
    z-index: 10;
    pointer-events: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.starscover .star {
    position: absolute;
    top: 100px;
    left: 100px;
    width: 20px;
    height: 20px;
    opacity: .5;
    background-color: #f6f6f6;
    border-radius: 50%;
    animation: star 2s infinite;
    box-shadow: #ccc 0 0 5px;
}


.container .right {
    width: calc(100% - 391px);
    height: calc(100% - 40px);
    position: absolute;
    top: 0px;
    right: 0px;
    margin: 20px;
}

.container .right .menu {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .right .menu .item {
    height: 36px;
    margin: 2px 5px;
    padding: 0 20px;
    border-radius: 5px;
    line-height: 36px;
    user-select: none;
}

@media(max-width: 1045px) {
    .sg-h {
        display: none;
    }
}

.container .right .menu .item:hover {
    background-color: #eee;
}

.container .right .menu .item.act {
    background-color: #eee;
}
.container .right .menubtn{
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container .right .menubtn span{
    display: block;
    width: 20px;
    height: 2px;
    background-color: #666;
    margin: 3px auto;
    transition: all 0.3s;
}


.content {
    width: 100%;
    height: calc(100% - 40px);
    overflow-y: auto;
    overflow-x: hidden;

}

.page {
    width: 100%;
    padding: 50px 20px;
    display: none;
    box-sizing: border-box;
}

.page.act {
    display: block;
}

.page h1 {
    text-align: center;
    color: #000;
}

.page h2 {
    color: #000;
}

.page .center {
    text-align: center;
}
.page .center img{
    display: block;
    margin: 0 auto;
}
.section {
    font-size: 16px;
    line-height: 30px;
    padding: 40px 0;
}

.front-project-list ul {
    width: 100%;
    overflow: hidden;
    padding-top: 2em;
}

.front-project-list ul li {
    width: calc(50% - 20px);
    float: left;
    margin: 10px;
    text-align: center;
    box-shadow: #aaa 0 0 5px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.front-project-list ul li a {
    padding: 10px;
    display: block;
    text-decoration: none;
    color: #333;
}

.front-project-list ul li .title {
    font-size: 18px;
    font-weight: bold;
}

.front-project-list ul li .desc {
    font-size: 13px;
    line-height: 20px;
}

.front-project-list ul li:hover {
    transform: translateY(-3px);
}

.closebtn{
    position: absolute;
    top: 0;
    left: 0;
    height:40px;
    width: 40px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    display: none;
}

@media(max-width: 900px) {
    .container {
        width: calc(100% - 10px);
        height: calc(100% - 10px);
        margin: 5px;
    }

    .container .leftbar {
        width: 300px;
    }

    .container .right {
        width: calc(100% - 301px);
    }
}

@media(max-width: 768px) {
    .warma-back-top{
        width: 150px;
        position: fixed;
        right: -15px;
    }
    .container .leftbar{
        width: calc(100% - 40px);
        background-color: #fff;
        left: -100%;
        transition: all .3s;
        z-index: 2;
    }
    .container .leftbar.on{
        left: 0;
    }

    .container .right {
        width: calc(100% - 40px);
    }

    .container .right .menubtn,.closebtn{
        display: flex;
    }

}

@media(max-width: 600px) {
    .right .menu>span{
        display: none;
    }
    .container .right .menu .item{
        margin: 2px;
        padding: 0 10px;
    }
}

.friend-list {
    width: 100%;
    overflow: hidden;
    padding-top: 2em;
}

.friend-list .item {
    width: calc(50% - 20px);
    height: 100px;
    float: left;
    margin: 10px;
    text-align: center;
    box-shadow: #aaa 0 0 5px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
@media(max-width: 940px){
    .friend-list .item {
        width: calc(100% - 20px);
    }
} 
.friend-list .item a {
    padding: 10px;
    display: block;
    text-decoration: none;
    color: #333;
    overflow: hidden;
}

.friend-list .item img {
    height: 80px;
    width: 80px;
    float: left;
}

.friend-list .item .t {
    float: left;
    width: calc(100% - 90px);
    margin-left: 10px;
}

.friend-list .item .t .title {
    font-size: 18px;
    font-weight: bold;
}

.friend-list .item .t .intro {
    font-size: 13px;
    line-height: 20px;
}

.friend-list .item:hover {
    transform: translateY(-3px);
}

.skills {
    width: 100%;
    max-width: 400px;
    margin: 40px auto;
}

.skills .item {
    width: 100%;
    height: 30px;
    line-height: 30px;
    overflow: hidden;
    margin: 5px;
}

.skills .item .t {
    width: 100px;
    text-align: center;
    float: left;
}

.skills .item .r {
    width: calc(100% - 120px);
    margin: 14px 10px;
    height: 2px;
    float: left;
    background-color: #eee;
}

.skills .item .r div {
    width: 0;
    height: 2px;
    background-color: #000;
    transition: all 1s;
}

.padd {
    padding-top: 40px;
}

.tpadd {
    padding: 20px 0;
}

.page a {
    color: #09f;
    text-decoration: none;
}

.page a:hover {
    text-decoration: underline;
}

.projectlist li {
    width: calc(100% - 50px);
    margin: 15px;
    padding: 10px;
    list-style: none;
    box-shadow: #aaa 0 1px 3px;
    transition: all .3s;
}

.projectlist li:hover {
    box-shadow: #aaa 0 1px 5px;
    transform: translateY(-4px);
}

.projectlist li .title {
    font-size: 20px;
    font-weight: 600;
    line-height: 40px;
}

.projectlist li .exp {
    font-size: 14px;
    color: #666;
    padding-bottom: 10px;
}

.projectlist li a {
    padding: 0 5px;
    border-radius: 5px;
    background-color: #09f;
    color: #fff;
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    display: inline-block;
    margin: 0 5px;
}

.projectlist li a.githublink {
    background-color: #333;
}

.projectlist li a.second {
    background-color: #888;
}

.friendlist li {
    width: calc(100% - 50px);
    margin: 15px;
    padding: 10px;
    list-style: none;
    box-shadow: #aaa 0 1px 3px;
    overflow: hidden;
    transition: all .3s;
}

.friendlist li:hover {
    box-shadow: #aaa 0 1px 5px;
    transform: translateY(-4px);
}

.friendlist li a {
    color: #000;
    display: block;
    width: 100%;
    overflow: hidden;
}

.friendlist li img {
    float: left;
    width: 40px;
    height: 40px;
    margin: 10px;
}

.friendlist li .m {
    float: left;
    width: calc(100% - 60px);
}

.friendlist li .title {
    font-size: 20px;
    line-height: 30px;
}

.friendlist li a.no {
    opacity: .5;
    pointer-events: none;
}

.friendlist li:has(a.no) {
    box-shadow: none !important;
    transform: none !important;
}

.friendlist li .desc {
    font-size: 14px;
    color: #666;
}

.moebeian {
    font-size: 14px;
    line-height: 30px;
    color: #555;
    width: 80%;
    margin: 0 auto;
    border-top: 1px solid #ccc;
    text-align: center;
}
.moebeian a{
    color: #09f;
    text-decoration: none;
}
.moebeian a:hover{
    color: #0af;
    text-decoration: underline;
}



@keyframes wbp{
    0%{
        transform: translateY(-10px);
    }50%{
        transform: translateY(0);
    }100%{
        transform: translateY(-10px);
    }
}