body.warma{
    background-color: #a18d93;
    font-weight: bold;
}
body.warma{
    color: #533334;
}
body.warma .right .page.index .links a{
    color: #fff;
}
body.warma .qplayer{
    background-color: #a18d93;
}
body.warma .qplayer .bg{
    display: none;
}
body.warma .left .avatar img{
    border-radius: 50%;
    border: #533334 3px solid;
}
body.warma .right .page h2{
    color: #f9dc88;
    text-shadow: #533334 0 3px, #533334 0 -3px, #533334 3px 0px, #533334 -3px 0px;
}
body.warma .right .page.index .links a
{
    box-shadow: none;
    background-color: #533334;
    border-radius: 5px;
}
body.warma .right .page .line{
    background-color: #533334;
    height: 3px;
}
body.warma ::-webkit-scrollbar-thumb{
    background-color: #533334;
}
body.warma .right .page p a,
body.warma .moebeian a{
    color: #f9dc88;
    text-shadow: none;
}
body.warma .right .page p a:hover,
body.warma .moebeian a:hover{
    color:#533334;
}
body.warma .skills .item .r{
    background-color: #f9dc88;
    height: 10px;
    border-radius: 10px;
    margin: 10px;
}
body.warma .skills .item .r div{
    background-color: #533334;
    height: 10px;
    border-radius: 10px;
}
body.warma .projectlist li,
body.warma .friendlist li{
    background-color: #533334;
    border-radius: 5px;
}

body.warma .projectlist li .title,
body.warma .friendlist li .title{
    color:#f9dc88
}
body.warma .projectlist li .exp,
body.warma .friendlist li .desc{
    color:#fff
}
body.warma .friendlist li img{
    border-radius: 50%;
    border: #000 2px solid;
    width: 36px;
    height: 36px;
}
body.warma .projectlist li a{
    background-color: #f9dc88!important;
    color: #533334!important;
    text-shadow: none;
}
body.warma .projectlist li a:hover{
    background-color: #533334!important;
    color: #f9dc88!important;
}

body.warma .left .title{
    color: #f9dc88;
    text-shadow: #533334 0 3px, #533334 0 -3px, #533334 3px 0px, #533334 -3px 0px;
    padding-top: 10px;
}
body.warma .left .says{
    color: #533334;
}
body.warma .left .back{
    color: #533334;
    text-shadow: none;
    font-weight: bold;
}
body.warma .left .back:hover{
    color: #f9dc88;
}
body.warma .left::after{
    background-color: #533334;
    width: 3px;
}
body.warma .lxms .item img{
    padding: 10px;
    border-radius: 50%;
    background-color: #533334;
    margin: 10px;
}
body.warma .lxms .item img:hover{
    background-color: #f9dc88;
}
body.warma .qplayer{
    text-shadow: none;
    font-weight: bold;
    background-color: rgb(189, 178, 181);
    color: #533334;
    border: #533334 2px solid;
}
body.warma .qplayer .img img{
    border: #533334 3px solid;
    width: 54px;
    height: 54px;
}
body.warma .qplayer .blc .range{
    background-color: #f9dc88;
}
body.warma .qplayer .blc .range .a,
body.warma .qplayer .blc .range .b
{
    background-color: #533334;
}
body.warma .qplayer .music-list{
    background-color: #a18d93;
    color: #fff;
    border: #533334 2px solid;
    background-color: #533334;
}
body.warma .qplayer .music-list .item.active{
    color: #f9dc88;
}
body.warma .qplayer .music-list .item:hover{
    background-color: #a18d93;
}
body.warma .qplayer .glc .songdata .artist{
    color: #533334;
}
body.warma .qplayer .glc .songdata .name{
    color:#533334;
}
body.warma .moebeian{
    text-shadow: none;
}
@media(max-width:600px){
    body.warma .left{
        background-color: #a18d93;
    }
    body.warma .menu {
        background-color: #533334;
        color: #fff;
    }
}